# A simple action usage
name: Build Kernel
on:
  workflow_dispatch:

jobs:
  Build-Kernel:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Build Kernel
        uses: dabao1955/kernel_build_action@main
        with:
          kernel-url: https://github.com/almondnguyen/android_kernel_samsung_a01core
          kernel-branch: master
          config: a01core_defconfig
          arch: arm
          aosp-gcc: true
          aosp-clang: false
          android-version: 11
          
