# A simple action usage
name: Simpel Builder
on:
  workflow_dispatch:

jobs:
  Build-Kernel:
    strategy:
      fail-fast: false
    runs-on: ubuntu-22.04
    permissions:
      contents: read

    steps:
      - name: Build Kernel
        uses: dabao1955/kernel_build_action@main
        with:
          kernel-url: https://github.com/a02-trial/a022f_kernel
          kernel-dir: kernel-4.14
          kernel-branch: main
          config: a02_defconfig
          arch: arm
          aosp-gcc: true
          other-gcc32-branch: main
          ksu: true
          ksu-version: main
          android-version: 12
          disable-lto: true
          anykernel3: true
