name: "Build Kernel."              					  # Description of the workflow.
on:
  workflow_dispatch:
    inputs:
      MANIFEST_URL:
        description: 'Kernel Manifest'
        required: true
        default: 'https://github.com/a02-trial/android_kernel-manifest'
      MANIFEST_BRANCH:
        description: 'Kernel Manifest Branch'
        required: true
        default: 'mt6739'
      BUILD_CONFIG:
        description: 'Customized build.config file'
        required: true
        default: 'build_kernel.sh'
      KERNEL_IMAGE_NAME:
        description: 'Image'
        required: true
        default: 'Image'

jobs:
  build:
    name: Build Kernel by ${{ github.actor }}
    runs-on: ubuntu-24.04
    steps:
    - name: "Checkout kernel source"                  # Clone the kernel source.
      uses: actions/checkout@v4
    - name: "Checkout zipper"                         # (OPTIONAL) Clone the AnyKernel3 template.
      uses: actions/checkout@v4
      with:
        repository: lemniskett/AnyKernel3             # Your own AnyKernel3 repository.
        path: zipper                                  # Clone to path "zipper", REQUIRED.
    - name: "Android kernel build"                    # Build kernel with lemniskett/android-kernel-actions.
      uses: lemniskett/android-kernel-actions@master
      with:
        arch: arm                                     # Specify arch
        compiler: gcc/9                               # Specify toolchain to use
        defconfig: a02_defconfig                      # Specify defconfig to use
        image: Image                                  # Specify final build file

